          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <img src="https://i.imgur.com/bxnwBHA.png" class="rounded mx-auto d-block">
                        <script src="register.js"></script>
                        <h5 class="card-title text-center mt-4">Register</h5>
                        <form class="form-signin">
                            <div class="form-label-group my-2">
                                <input type="email" name="inputEmail" class="form-control" placeholder="Email address"
                                    required autofocus>
                            </div>
                            <div class="form-label-group my-2">
                                <input type="password" id="password" class="form-control" placeholder="Password"
                                    required>
                            </div>
                            <div class="form-label-group my-2">
                                <input type="password" id="confirm_password" class="form-control" placeholder="Confirm Password"
                                    required>
                            </div>
                            <button class="btn-success btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                            <script type="text/javascript" src="validation.js"></script> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
